{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row m-5">
            <span class="section-text-theme">{{theme_name}}</span>
        </div>
    </div>

    <section>
        <div class="container-fluid justify-content-center align-items-center">
            <div class="row">
                <div class="col-sm m-1"></div>
                <div class="col-sm">
                    <h2 class="text-center">Le comparatif en anglais</h2>
                    <h3>Comment former le comparatif en anglais ?</h3>
                    <p>Le comparatif permet de comparer deux choses ou deux personnes en termes de quantité, de qualité, etc. Le comparatif en anglais se forme en ajoutant <b>-er</b> à la fin d'un adjectif court (un adjectif de une ou deux syllabes) :</p>
                    <ul>
                      <li>fast (rapide) devient <b>faster</b> (plus rapide)</li>
                      <li>big (grand) devient <b>bigger</b> (plus grand)</li>
                      <li>hot (chaud) devient <b>hotter</b> (plus chaud)</li>
                    </ul>
                    <p>Pour les adjectifs longs (trois syllabes ou plus) et pour les adjectifs courts qui se terminent déjà par <b>-y</b>, on ajoute <b>more</b> avant l'adjectif :</p>
                    <ul>
                      <li>beautiful (beau) devient <b>more beautiful</b> (plus beau)</li>
                      <li>interesting (intéressant) devient <b>more interesting</b> (plus intéressant)</li>
                      <li>funny (drôle) devient <b>funnier</b> (plus drôle)</li>
                    </ul>
                    <h3>Comment utiliser le comparatif en anglais ?</h3>
                    <p>Le comparatif en anglais est utilisé pour comparer deux choses ou deux personnes. On peut utiliser <b>than</b> pour exprimer la comparaison :</p>
                    <ul>
                      <li>Mon frère est <b>plus grand que</b> moi. (My brother is <b>taller than</b> me.)</li>
                      <li>Cette voiture est <b>plus rapide que</b> l'autre. (This car is <b>faster than</b> the other one.)</li>
                      <li>Les vacances d'été sont <b>plus agréables que</b> l'hiver. (Summer holidays are <b>more enjoyable than</b> winter.)</li>
                    </ul>
                    <p>On peut également utiliser <b>as...as</b> pour dire que deux choses sont équivalentes :</p>
                    <ul>
                      <li>Cette robe est <b>aussi belle que</b> celle-ci. (This dress is <b>as beautiful as</b> this one.)</li>
                      <li>Je suis <b>aussi heureux que</b> toi. (I am <b>as happy as</b> you.)</li>
                      <li>Cette pizza est <b>aussi bonne que</b> celle que nous avons mangée hier. (This pizza is <b>as good as</b> the one we had yesterday.)</li>
                    </ul>
                </div>
                <div class="col-sm m-1"></div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container-fluid justify-content-center align-items-center text-center mt-5">
            <h2>TEST YOURSELF !</h2>
        </div>
    </section>

    <div class="container-fluid justify-content-center align-items-center" >
        
        {% for i in range(0,number_of_cards,2) %}
        <div class="row m-5">
            {% if i < number_of_cards: %}
            <div class="col-sm m-5"></div>
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            {% endif %}
            <div class="col-sm m-5"></div>
            {% if i+1 < number_of_cards: %}
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i+1]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i+1]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-sm m-5"></div>

            {% endif %}


        </div>

        {% endfor %}
    </div>
{% endblock %}
