{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row m-5">
            <span class="section-text-theme">{{theme_name}}</span>
        </div>
    </div>

    <section>
        <div class="container-fluid justify-content-center align-items-center">
            <div class="row">
                <div class="col-sm m-1"></div>
                <div class="col-sm">
                    <h2 class="text-center">Le future continuous en anglais</h2>
                    <h3>Comment se forme le future continuous ?</h3>
                    <p>Le future continuous se forme en utilisant "will be" suivi du participe présent (la forme en "-ing") du verbe principal :</p>
                    <ul>
                      <li>I will be studying English at this time tomorrow. (J'étudierai l'anglais à cette heure demain.)</li>
                      <li>You will be playing tennis at 4 pm. (Tu joueras au tennis à 16h.)</li>
                      <li>They will be finishing their project when we arrive. (Ils seront en train de terminer leur projet quand nous arriverons.)</li>
                    </ul>
                    <h3>Comment utilise-t-on le future continuous ?</h3>
                    <p>Le future continuous est utilisé pour exprimer une action qui sera en cours dans le futur :</p>
                    <ul>
                      <li>Je serai en train de travailler demain à cette heure-ci. (I will be working at this time tomorrow.)</li>
                      <li>Nous serons en train de faire du camping la semaine prochaine. (We will be camping next week.)</li>
                      <li>Elle sera en train de prendre une douche quand tu arriveras. (She will be taking a shower when you arrive.)</li>
                    </ul>
                    <p>Le future continuous peut également être utilisé pour exprimer une action qui sera en cours pendant une certaine période de temps dans le futur :</p>
                    <ul>
                      <li>Nous serons en train de voyager pendant tout le mois de juillet. (We will be traveling for the entire month of July.)</li>
                      <li>Ils seront en train de travailler sur ce projet pendant les deux prochaines semaines. (They will be working on this project for the next two weeks.)</li>
                      <li>Je serai en train de regarder un film pendant que tu feras tes courses. (I will be watching a movie while you do your shopping.)</li>
                    </ul>
                </div>
                <div class="col-sm m-1"></div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container-fluid justify-content-center align-items-center text-center mt-5">
            <h2>TEST YOURSELF !</h2>
        </div>
    </section>

    <div class="container-fluid justify-content-center align-items-center" >
        
        {% for i in range(0,number_of_cards,2) %}
        <div class="row m-5">
            {% if i < number_of_cards: %}
            <div class="col-sm m-5"></div>
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            {% endif %}
            <div class="col-sm m-5"></div>
            {% if i+1 < number_of_cards: %}
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i+1]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i+1]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-sm m-5"></div>

            {% endif %}


        </div>

        {% endfor %}
    </div>
{% endblock %}
