{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row m-5">
            <span class="section-text-theme">{{theme_name}}</span>
        </div>
    </div>

    <section>
        <div class="container-fluid justify-content-center align-items-center">
            <div class="row">
                <div class="col-sm m-1"></div>
                <div class="col-sm">
                    <h2 class="text-center">L'utilisation des modaux en anglais</h2>
                    <h3>Quels sont les modaux en anglais ?</h3>
                    <p>Les modaux sont des verbes qui sont utilisés pour exprimer des idées telles que la possibilité, l'obligation, la permission, la capacité, etc. Les modaux les plus courants en anglais sont :</p>
                    <ul>
                      <li>Can / could</li>
                      <li>May / might</li>
                      <li>Must</li>
                      <li>Should / ought to</li>
                      <li>Will / would</li>
                    </ul>
                    <h3>Comment utilise-t-on les modaux en anglais ?</h3>
                    <p>Les modaux sont généralement utilisés pour modifier le sens d'un verbe principal :</p>
                    <ul>
                      <li>Je <b>peux</b> parler anglais. (I <b>can</b> speak English.)</li>
                      <li>Il <b>doit</b> étudier pour son examen. (He <b>must</b> study for his exam.)</li>
                      <li>Nous <b>devrions</b> arriver à l'aéroport deux heures avant le départ. (We <b>should</b> arrive at the airport two hours before departure.)</li>
                      <li>Elle <b>pourrait</b> être en retard. (She <b>might</b> be late.)</li>
                      <li>Je <b>voudrais</b> un café s'il vous plaît. (I <b>would like</b> a coffee please.)</li>
                    </ul>
                    <p>Les modaux sont également utilisés pour exprimer une obligation, une interdiction ou une permission :</p>
                    <ul>
                      <li>Vous <b>devez</b> porter une ceinture de sécurité. (You <b>must</b> wear a seatbelt.)</li>
                      <li>Il <b>n'est pas autorisé</b> à fumer ici. (He <b>is not allowed</b> to smoke here.)</li>
                      <li>Vous <b>pouvez</b> apporter un invité à la fête. (You <b>may</b> bring a guest to the party.)</li>
                    </ul>
                    <p>Enfin, les modaux peuvent être utilisés pour exprimer une probabilité ou une conjecture :</p>
                    <ul>
                      <li>Il <b>doit</b> être en retard. (He <b>must</b> be late.)</li>
                      <li>Elle <b>pourrait</b> être malade. (She <b>might</b> be sick.)</li>
                      <li>Il <b>va probablement</b> pleuvoir demain. (It <b>will probably</b> rain tomorrow.)</li>
                    </ul>
                </div>
                <div class="col-sm m-1"></div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container-fluid justify-content-center align-items-center text-center mt-5">
            <h2>TEST YOURSELF !</h2>
        </div>
    </section>

    <div class="container-fluid justify-content-center align-items-center" >
        
        {% for i in range(0,number_of_cards,2) %}
        <div class="row m-5">
            {% if i < number_of_cards: %}
            <div class="col-sm m-5"></div>
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            {% endif %}
            <div class="col-sm m-5"></div>
            {% if i+1 < number_of_cards: %}
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i+1]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i+1]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-sm m-5"></div>

            {% endif %}


        </div>

        {% endfor %}
    </div>
{% endblock %}
