{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row m-5">
            <span class="section-text-theme">{{theme_name}}</span>
        </div>
    </div>

    <section>
        <div class="container-fluid justify-content-center align-items-center">
            <div class="row">
                <div class="col-sm m-1"></div>
                <div class="col-sm">
                    <h2 class="text-center">Le présent simple en anglais</h2>
                    <h3>Comment se forme le présent simple ?</h3>
                    <p>Le présent simple en anglais se forme différemment selon le sujet utilisé :</p>
                    <ul>
                    <li>Pour les sujets "I", "you", "we" et "they", le verbe est utilisé à la base verbale (infinitif sans "to") :</li>
                    <ul>
                        <li>I eat pizza every week. (Je mange de la pizza toutes les semaines.)</li>
                        <li>You study English at school. (Tu étudies l'anglais à l'école.)</li>
                        <li>We watch movies on the weekend. (Nous regardons des films le week-end.)</li>
                        <li>They live in Paris. (Ils habitent à Paris.)</li>
                    </ul>
                    <li>Pour les sujets "he", "she" et "it", le verbe est utilisé avec un "s" à la fin :</li>
                    <ul>
                        <li>He plays soccer with his friends. (Il joue au football avec ses amis.)</li>
                        <li>She studies science in college. (Elle étudie la science à l'université.)</li>
                        <li>It rains a lot in the winter. (Il pleut beaucoup en hiver.)</li>
                    </ul>
                    </ul>
                    <h3>Comment utilise-t-on le présent simple ?</h3>
                    <p>Le présent simple en anglais est utilisé pour décrire :</p>
                    <ul>
                    <li>Une action habituelle ou répétée :</li>
                    <ul>
                        <li>I play basketball every day. (Je joue au basket tous les jours.)</li>
                        <li>She always arrives late. (Elle arrive toujours en retard.)</li>
                    </ul>
                    <li>Une vérité générale ou un fait permanent :</li>
                    <ul>
                        <li>Water boils at 100 degrees Celsius. (L'eau bout à 100 degrés Celsius.)</li>
                        <li>The sun rises in the east. (Le soleil se lève à l'est.)</li>
                    </ul>
                    <li>Une action qui est actuellement en train de se dérouler, mais qui n'a pas encore été achevée (en utilisant le présent continu, le temps peut être utilisé pour décrire une action en cours) :</li>
                    <ul>
                        <li>She writes a letter every afternoon. (Elle écrit une lettre tous les après-midis.)</li>
                        <li>He plays video games a lot. (Il joue beaucoup aux jeux vidéo.)</li>
                    </ul>
                    </ul>
                </div>
                <div class="col-sm m-1"></div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container-fluid justify-content-center align-items-center text-center mt-5">
            <h2>TEST YOURSELF !</h2>
        </div>
    </section>

    <div class="container-fluid justify-content-center align-items-center" >
        
        {% for i in range(0,number_of_cards,2) %}
        <div class="row m-5">
            {% if i < number_of_cards: %}
            <div class="col-sm m-5"></div>
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            {% endif %}
            <div class="col-sm m-5"></div>
            {% if i+1 < number_of_cards: %}
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i+1]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i+1]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-sm m-5"></div>

            {% endif %}


        </div>

        {% endfor %}
    </div>
{% endblock %}
