{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row m-5">
            <span class="section-text-theme">{{theme_name}}</span>
        </div>
    </div>

    <section>
        <div class="container-fluid justify-content-center align-items-center">
            <div class="row">
                <div class="col-sm m-1"></div>
                <div class="col-sm">
                    <h2 class="text-center">Le présent continu en anglais</h2>
                    <h3>Comment se forme le présent continu ?</h3>
                    <p>Le présent continu se forme en utilisant le verbe "to be" conjugué au présent suivi du verbe principal avec la terminaison "-ing" :</p>
                    <ul>
                    <li>Pour les sujets "I", "you", "we" et "they", on utilise "are" :</li>
                    <ul>
                        <li>I am learning English. (Je suis en train d'apprendre l'anglais.)</li>
                        <li>You are watching TV. (Tu es en train de regarder la télé.)</li>
                        <li>We are eating dinner. (Nous sommes en train de manger le dîner.)</li>
                        <li>They are playing video games. (Ils sont en train de jouer aux jeux vidéo.)</li>
                    </ul>
                    <li>Pour les sujets "he", "she" et "it", on utilise "is" :</li>
                    <ul>
                        <li>He is studying at the library. (Il est en train d'étudier à la bibliothèque.)</li>
                        <li>She is cooking dinner. (Elle est en train de préparer le dîner.)</li>
                        <li>It is raining outside. (Il est en train de pleuvoir dehors.)</li>
                    </ul>
                    </ul>
                    <h3>Comment utilise-t-on le présent continu ?</h3>
                    <p>Le présent continu est utilisé pour décrire :</p>
                    <ul>
                    <li>Une action qui est en cours de déroulement au moment où on parle :</li>
                    <ul>
                        <li>I am reading a book right now. (Je suis en train de lire un livre en ce moment.)</li>
                        <li>She is talking on the phone at the moment. (Elle est en train de parler au téléphone en ce moment.)</li>
                    </ul>
                    <li>Une action qui est planifiée pour le futur proche :</li>
                    <ul>
                        <li>We are having dinner with friends tonight. (Nous allons dîner avec des amis ce soir.)</li>
                        <li>He is seeing a movie later. (Il va voir un film plus tard.)</li>
                    </ul>
                    <li>Un changement ou une évolution qui est en train de se produire :</li>
                    <ul>
                        <li>She is getting better at playing the guitar. (Elle s'améliore à jouer de la guitare.)</li>
                        <li>The weather is getting colder. (Le temps est en train de se refroidir.)</li>
                    </ul>
                    </ul>
                </div>
                <div class="col-sm m-1"></div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container-fluid justify-content-center align-items-center text-center mt-5">
            <h2>TEST YOURSELF !</h2>
        </div>
    </section>

    <div class="container-fluid justify-content-center align-items-center" >
        
        {% for i in range(0,number_of_cards,2) %}
        <div class="row m-5">
            {% if i < number_of_cards: %}
            <div class="col-sm m-5"></div>
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            {% endif %}
            <div class="col-sm m-5"></div>
            {% if i+1 < number_of_cards: %}
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i+1]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i+1]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-sm m-5"></div>

            {% endif %}


        </div>

        {% endfor %}
    </div>
{% endblock %}
