{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row m-5">
            <span class="section-text-theme">{{theme_name}}</span>
        </div>
    </div>

    <section>
        <div class="container-fluid justify-content-center align-items-center">
            <div class="row">
                <div class="col-sm m-1"></div>
                <div class="col-sm">
                    <h2 class="text-center">Le present perfect continuous en anglais</h2>
<h3>Comment se forme le present perfect continuous ?</h3>
<p>Le present perfect continuous se forme en utilisant "have/has been" suivi du participe présent du verbe principal et de "ing".</p>
<ul>
  <li>I have been studying English for three hours. (J'étudie l'anglais depuis trois heures.)</li>
  <li>You have been traveling for two weeks. (Tu voyages depuis deux semaines.)</li>
  <li>They have been playing soccer for an hour. (Ils jouent au football depuis une heure.)</li>
</ul>
<h3>Comment utilise-t-on le present perfect continuous ?</h3>
<p>Le present perfect continuous est utilisé pour décrire une action qui a commencé dans le passé et qui se poursuit jusqu'à maintenant, avec l'accent mis sur la durée ou la continuité de l'action :</p>
<ul>
  <li>Actions qui ont commencé dans le passé et qui se poursuivent jusqu'à maintenant :</li>
  <ul>
    <li>I have been working on this project all day. (Je travaille sur ce projet toute la journée.)</li>
    <li>He has been studying for his exam for two weeks. (Il étudie pour son examen depuis deux semaines.)</li>
    <li>We have been waiting for the train for an hour. (Nous attendons le train depuis une heure.)</li>
  </ul>
  <li>Actions qui ont une influence sur le présent :</li>
  <ul>
    <li>I have been feeling sick all week. (Je me sens malade toute la semaine.)</li>
    <li>She has been practicing her guitar every day. (Elle pratique sa guitare tous les jours.)</li>
    <li>They have been learning English for six months. (Ils apprennent l'anglais depuis six mois.)</li>
  </ul>
</ul>
                </div>
                <div class="col-sm m-1"></div>
            </div>            
        </div>
    </section>

    <section>
        <div class="container-fluid justify-content-center align-items-center text-center mt-5">
            <h2>TEST YOURSELF !</h2>
        </div>
    </section>

    <div class="container-fluid justify-content-center align-items-center" >
        
        {% for i in range(0,number_of_cards,2) %}
        <div class="row m-5">
            {% if i < number_of_cards: %}
            <div class="col-sm m-5"></div>
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            {% endif %}
            <div class="col-sm m-5"></div>
            {% if i+1 < number_of_cards: %}
            <div class="col-sm">
                <div class="mt-5">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front d-flex justify-content-center align-items-center">
                            <h2>{{question[i+1]}}</h2>
                            </div>
                            <div class="return-card-back d-flex justify-content-center align-items-center">
                            <h2>{{answer[i+1]}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-sm m-5"></div>

            {% endif %}


        </div>

        {% endfor %}
    </div>
{% endblock %}
