{% extends "nav-tdl.html" %}

{% block body %}
    <div class="container-fluid">
        <div class="row bg-color-fp vh-100">
            <div class="row margin-9em">
                <div class="col-xl-1"></div>
                <div class="col-xl position-bienvenue">
                    <span class="bienvenue animwelcome">Welcome to the <br>
                        English Classroom
                    </span>
                </div>
                <div class="col-xl">
                    <img class="img-arrondi" src="../static/img/britanique.png" alt="Une belle image" width="100%" height="75%">
                </div>
                <div class="col-xl-1"></div>
            </div>
        </div>
        
        
        <div class="container d-flex justify-content-center align-items-center">
            <div class="row mt-5">
                <div class="col m-5">
                    <div class="card" style="width: 18rem;">
                    <img src="/static/img/dictionary.png" class="img-fluid rounded">  
                    <div class="card-body">
                        <h5 class="card-title">Vocabulary</h5>
                        <a href="/vocabulary" class="btn btn-primary">Start</a>
                    </div>
                    </div>
                </div>
                <div class="col m-5">
                    <div class="card" style="width: 18rem;">
                    <img src="/static/img/learning.png" class="img-fluid rounded">  
                    <div class="card-body">
                        <h5 class="card-title">Grammar</h5>
                        <a href="/grammar" class="btn btn-primary">Start</a>
                    </div>
                    </div>
                </div>
                <div class="col m-5">
                    <div class="card" style="width: 18rem;">
                        <img src="/static/img/hieroglyph.png" class="img-fluid rounded">
                        <div class="card-body">
                            <h5 class="card-title">Culture & History</h5>
                            <a href="/culture&history" class="btn btn-primary">Start</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="container d-flex justify-content-center align-items-center">
            <div class="row mt-5">
                <div class="col m-5">
                    <div class="card" style="width: 18rem;">
                    <img src="/static/img/un-journal.png" class="img-fluid rounded">  
                    <div class="card-body">
                        <h5 class="card-title">Article</h5>
                        <a href="/vocabulary" class="btn btn-primary">Start</a>
                    </div>
                    </div>
                </div>
            </div>
        </div>

        
    </div>
{% endblock %}