{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row m-5">
            <span class="section-text-theme">{{theme_name}}</span>
        </div>
    </div>

    <section>
        <div class="container justify-content-center align-items-center mt-5">

            <div class="row">
                <div class="col-sm">
                    <h2>Britain</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/VcnSsEVsrf0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>The British Empire: 1707-2017</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/2Fmkoq4hB6A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>The Falklands War (1982)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/TV0h-aLrOCg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>The Queen's Guard</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/zak0M2Wfz9U" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
