{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row m-5">
            <span class="section-text-theme">{{theme_name}}</span>
        </div>
    </div>

    <section>
        <div class="container justify-content-center align-items-center mt-5">

            <div class="row">
                <div class="col-sm">
                    <h2>The United States of America</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UbpoC2Y9DIA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>George Washington (1732-1799)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/UbpoC2Y9DIA" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>The American Revolution - Battles of Lexington (April 19, 1775)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/IDRSE2Euxs4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>The American Revolution - Battle of Bunker Hill</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/9UqJzKX03-0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>The American Revolution - Valley Forge (1777)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/u1Df1fmKVlc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>The Wild West - Gold Rush</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/iydRkC0gMZI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>The Wild West - The Oregon Trail</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/iydRkC0gMZI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>The Wild West - Gunslingers</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/CrXJTCQckFg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>The American Civil War</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/k6N2P5yM0oU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>European conquest of America</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/er4CMhp6hqc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
