{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row m-5">
            <span class="section-text-theme">{{theme_name}}</span>
            <span class="section-text-date">5th - 15th century</span>
        </div>
    </div>

    <section>
        <div class="container justify-content-center align-items-center mt-5">

            <div class="row">
                <div class="col-sm">
                    <h2>Life in a Medieval Village</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/yq3q7KMlvw0" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>Medieval Knight</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/pG0dMxybV_8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>English Longbowman</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/NWtoLSk_11k" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>Viking Raid on Lindisfarne (793)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/rS3YfhAiXHU" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>The First Crusade (1095)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/KaqQ9eYB2KE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>
        </div>
    </section>
{% endblock %}
