{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row m-5">
            <span class="section-text-theme">{{theme_name}}</span>
            <span class="section-text-date">1954 - 1975</span>
        </div>
    </div>

    <section>
        <div class="container justify-content-center align-items-center mt-5">

            <div class="row">
                <div class="col-sm">
                    <h2>Vietnam War</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/EunyfX-Zjo4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>The Gulf of Tonkin Incident (1964)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/crALHjTiXbk" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>Vietcong Guerilla</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/huRWshoW7T8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>The Tet Offensive (1968)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ezuFR5OwHU8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>Operation Rolling Thunder (1965-1968)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/R5gSxeiCBMY" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>Air Mobility</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ed2HfpyDyh4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

        </div>
    </section>
{% endblock %}
