{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}

    <div class="container d-flex justify-content-center align-items-center text-center">
        <div class="row m-5">
            <span class="section-text-theme">{{theme_name}}</span>
            <span class="section-text-date">1914 - 1918</span>
        </div>
    </div>

    <section>
        <div class="container justify-content-center align-items-center mt-5">

            <div class="row">
                <div class="col-sm">
                    <h2>World War I</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/SLj5r2nZHB8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>What Caused the First World War ?</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/24i4ncHuf6A" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>Life in trenches</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/QFj23OFl2Kw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>The Battle of Verdun (1916)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/RG3sH5e4ROg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>The First Day of the Somme (1916)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/0PcPanwHzZ8" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>The British Army</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/ZsTzU1M5xHc" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>

            <div class="row">
                <div class="col-sm">
                    <h2>The German Army</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/WJsD2_dvxho" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>The French Army</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/wHr0rxPwJEQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>

            <div class="row m-5"></div>
            
            <div class="row">
                <div class="col-sm">
                    <h2>The Battle of Passchendaele (1917)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/s1TjVlKBpjs" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
                <div class="col-sm m-5"></div>
                <div class="col-sm">
                    <h2>The Armistice (1918)</h2>
                    <iframe width="560" height="315" src="https://www.youtube.com/embed/vr4JU7C8yDE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                </div>
            </div>


        </div>
    </section>
{% endblock %}
