{% extends "nav-tdl.html" %}

{% block head %}
    <link href="../static/styles/return-card.css" rel="stylesheet">
{% endblock %}

{% block body %}
    <div class="container-fluid">
        
        {% for i in range(10) %}
        <div class="row">
            <div class="col-sm m-5"></div>
            <div class="col-sm">
                <div class="mt-5 tx-center">
                    <div class="return-card">
                        <div class="return-card-wrap">
                            <div class="return-card-front">
                            <h2>Question {{i}}</h2>
                            </div>
                            <div class="return-card-back">
                            <h2>Réponse {{i}}</h2>
                            </div>
                        </div>
                    </div>
                </div>            
            </div>
            <div class="col-sm m-5"></div>
        </div>

        {% endfor %}
    </div>
{% endblock %}
