{% extends "nav-tdl.html" %}

{% block body %}
<div class="container-fluid">
    <div class="row m-5">
        <div class="col-sm text-center">
            <div class="">
                <span>
                    <img src="/static/img/logoFallGuys.png">
                </span>
            </div>
            
        </div>
    </div>

    <div class="row m-5">

        <div class="col-sm m-2">

            <div class="row info-part-height">

                <div class="col-2 color-left-edit">
                    <span>
                        Le Tournoi
                    </span>
                </div>
            
                <div class="col">

                    <span class="">
                        Le tournoi des Légendes de 2022 s'est joué en équipe de deux ! Cette édition marquera une nouveauté, 
                        la coupe sera remportée par les deux joueurs d'une même équipe. 7 équipes se sont affrontées pour 
                        remporter le titre convoité de "Légende". Le tournoi s'est déroulé le 30 juillet 2022.
                    </span>
            
                </div>
            
            </div>

            <div class="row info-part-height">
                <div class="col-2 color-left-edit">
                    Les règles
                </div>
                <div class="col">
                    <span class="">
                        Règles de l'édition 2022 : <br>
                        Pour cette édition, le jeu choisi est Fall Guys. 
                        La compétition se déroulera sur trois épreuves, chaque épreuve permettant aux équipes de 
                        marquer des points. L'équipe ayant le plus de points à la fin des épreuves remportera le tournoi.
                    </span>
                </div>
            </div>

            <div class="row info-part-height">
                <div class="col-2 color-left-edit">
                    <span>Les épreuves</span>
                </div>
                <div class="col">
                    <span class="">
                        Le tournoi s'est organisé autour de trois épreuves.
                        <table class="table-bordered">
                            <tbody>
                              <tr>
                                <td>
                                    Epreuve Solo
                                </td>
                                <td>
                                    Une compétition par équipes... démarrant par une épreuve en solo.
                                    Durant cette épreuve, les joueurs s'affronte les uns contre les autres dans des parties solo crée localement. Il y a donc autant de joueurs que de participants aux tournois dans chaque partie.
                                    Le but étant de remporter le plus de points pour leur équipe. <br>
                                    La manière dont les points sont attribués dépend de leur classement dans une partie et est plus précisément décrite dans la section <em>Attribution des points</em>. <br> 
                                    Cette épreuve se déroule sur un total de 3 manches.
                                </td>
                                
                              </tr>
                              <tr>
                                <td>
                                    Epreuve mixte
                                </td>
                                <td>
                                    Cette épreuve à pour but de faire défier les rivalités entre les équipes. 
                                    Pour cela, deux équipes se rassembleront pour n'en former qu'une.
                                    Les équipes devront mettre leur égo de côté pour essayer d'atteindre leur objectifs dans des parties de groupe de 4 en ligne contre d'autre joueurs.
                                    Les équipes nouvellement formées gagneront des points en fonction de leur classement dans la partie comme indiquée dans la section <em>Attribution des points</em>
                                </td>
                              </tr>
                              <tr>
                                <td>
                                    Epreuve Duo
                                </td>
                                <td>
                                    Enfin, nous arrivons à l'épreuve finale : l'épreuve en duo... La compétition par équipes prend tout son sens.
                                    Les équipes devront se reconcentrer sur leur objectif principal : le trophée et le rang de "Légende".
                                    Elles s'affronte dans des parties en duo lancées en ligne contre d'autre joueur.
                                    De même, la distribution des points est expliqué dans la rubrique <em>Attribution des points</em>.
                                </td>
                              </tr>
                            </tbody>
                          </table>
                          
                    </span>
                </div>
            </div>  
            
            <div class="row info-part-height">
                <div class="col-2 color-left-edit">
                    <span>Attribution des points</span>
                </div>
                <div class="col">
                    <span>
                        L'attribution se fait selon le tableau suivant : 

                        <table class="table-bordered">
                            <thead>
                                <td>
                                    Nombre de points
                                </td>
                                <td>
                                    Elimination
                                </td>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>
                                        0 point
                                    </td>
                                    <td>
                                        Eliminé à la première carte
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        1 point
                                    </td>
                                    <td>
                                        Eliminé à la deuxième carte
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        3 points
                                    </td>
                                    <td>
                                        Eliminé à la troisième carte
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        5 points
                                    </td>
                                    <td>
                                        Eliminé à la quatrième carte
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        7 points
                                    </td>
                                    <td>
                                        Eliminé à la cinquième carte
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        10 points
                                    </td>
                                    <td>
                                        Pour le vainqueur de la partie
                                    </td>
                                </tr>
                            </tbody>
                        </table>

                        Si deux membres d'une même équipe se retrouvent en finale, l'équipe correspondante obtiendra 1 point supplémentaire.
                    </span>
                </div>

            </div>

            <div class="row m-2"></div>

        </div>
    </div>

    
</div>

{% endblock %}