{%  extends "nav-tdl.html" %}

{%  block body %} 
<div class="container-fluid">
    <div class="row">
        <div class="col-sm m-5"></div>
        
        <div class="col-sm ">
            <div class="mt-5 tx-center">
                <h1 class="tx-title">
                    Salutations à toi, Jeune Légende !
                </h1>
            </div>

            <div class="mt-4 tx-ju">
                <span>
                    Tu souhaites montrer ta supériotité à tes adversaires ? Alors le tournoi des
                    légendes est fait pour toi.
                </span>
            </div>

            <div class="mt-4 tx-ju">
                <span>
                    Le tournoi des légendes est une compétition annuelle qui a débuté en 2021.
                    Cette compétition rassemble plusieurs joueurs qui peuvent se mesurer sur 
                    différents jeux vidéos.
                </span>
            </div>

            <div class="mt-4 tx-ju">
                <span>
                    Tous les ans, le jeu sur lequel les joueurs s'affrontent change et par conséquent 
                    les règles également. (On vous invite à vous diriger vers les pages regroupant 
                    toutes les informations nécessaires des précedentes sessions)
                    Les joueurs combattent sur des jeux et avec des règles différentes tous les ans.
                </span>
            </div>

            <div class="mt-4 tx-ju">
                <span>
                    En plus de profiter d'un moment amusant, vous pouvez également être récompensé(e)
                    de la magnifique coupe des légendes.
                </span>
            </div>
            
        </div>
        
        <div class="col-sm m-5"></div>

    </div>
</div>
{% endblock %} 