{% extends "nav-tdl.html" %}

{% block body %}
    <div class="container-fluid">
        <div class="row bg-color-fp vh-100">
            <div class="row mt-actu">
                <div class="col-xl-1"></div>
                <div class="col-xl position-bienvenue">
                    <span class="bienvenue animwelcome">Welcome to the <br>
                        English Classroom
                    </span>
                </div>
                <div class="col-xl">
                    <img class="img-arrondi" src="../static/img/britanique.png" alt="Une belle image" width="100%" height="75%">
                </div>
                <div class="col-xl-1"></div>
            </div>
        </div>

        <div class="row m-4"></div>
        
        <div class="row">
            <div class="col-md w-auto"></div>
            <div class="col">
                <div class="card offset-1 col-2 mt-5" style="width: 18rem;">
                <img src="/static/img/dictionary.png" class="img-fluid rounded">  
                <div class="card-body">
                    <h5 class="card-title">Vocabulary</h5>
                    <a href="/edition-suivante" class="btn btn-primary">Start</a>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card offset-1 col-2 mt-5" style="width: 18rem;">
                <img src="/static/img/learning.png" class="img-fluid rounded">  
                <div class="card-body">
                    <h5 class="card-title">Grammar</h5>
                    <a href="/2022" class="btn btn-primary">Start</a>
                </div>
                </div>
            </div>
            <div class="col">
                <div class="card offset-1 col-2 mt-5" style="width: 18rem;">
                    <img src="/static/img/hieroglyph.png" class="img-fluid rounded">
                    <div class="card-body">
                        <h5 class="card-title">Culture & History</h5>
                        <a href="/2021" class="btn btn-primary">Start</a>
                    </div>
                </div>
            </div>
            <div class="col w-auto"></div>
        </div>
        <div class="row mt-actu"></div>
    </div>
{% endblock %}