@import url(//db.onlinewebfonts.com/c/effd74cbf0d7ec814ef5b5c8b44e0988?family=VeneerW01-Two);
@import url(//db.onlinewebfonts.com/c/db7994604cdb2450e83c893d200c251b?family=OMEGLE);

@font-face {font-family: "VeneerW01-Two"; src: url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.eot"); src: url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.woff") format("woff"), url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.svg#VeneerW01-Two") format("svg"); } 
@font-face {font-family: "OMEGLE"; src: url("//db.onlinewebfonts.com/t/db7994604cdb2450e83c893d200c251b.eot"); src: url("//db.onlinewebfonts.com/t/db7994604cdb2450e83c893d200c251b.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/db7994604cdb2450e83c893d200c251b.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/db7994604cdb2450e83c893d200c251b.woff") format("woff"), url("//db.onlinewebfonts.com/t/db7994604cdb2450e83c893d200c251b.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/db7994604cdb2450e83c893d200c251b.svg#OMEGLE") format("svg"); } 

body {
    background-color:azure;
}

/* NavBar Top*/
.bg-color-nav {
    background: purple;    
}

.section-text {
  font-family: "OMEGLE";
  font-size: 500%;
  color: rgb(68, 64, 59);
}

/* Zone Bienvenue Responsive*/

.bg-color-fp {
    background-color: rgb(118, 118, 221);
}

.bienvenue {
    font-size:5em;
    font-family:"VeneerW01-Two";
}

.position-bienvenue  {
    padding-right: 10%;
    margin-top: 5em;
    text-align: right;
}

.img-arrondi {
    border-radius: 50%;
    height: auto;
    width: auto;
}

@media (max-width: 992px) {
    .bienvenue {
      font-size: 2em;
    }
    
    img.img-arrondi {
      height: 50%;
    }
  }
  
  @media (max-width: 576px) {
    .bienvenue {
      font-size: 1.5em;
    }
    
    img.img-arrondi {
      height: 25%;
    }
  }

.margin-9em{
    margin-top: 9em;
}


/* NavBar Bottom */
.opacity-25 {
  opacity: 0.75;
}