@import url(//db.onlinewebfonts.com/c/effd74cbf0d7ec814ef5b5c8b44e0988?family=VeneerW01-Two);

@font-face {font-family: "VeneerW01-Two"; src: url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.eot"); src: url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.woff") format("woff"), url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/effd74cbf0d7ec814ef5b5c8b44e0988.svg#VeneerW01-Two") format("svg"); } 

body {
    background-color:azure;
}

.bg-color-nav {
    background: purple;    
}

.bg-color-fp {
    background-color: rgb(118, 118, 221);
}

.bienvenue {
    font-size:5em;
    font-family:"VeneerW01-Two";
}

.position-bienvenue  {
    padding-right: 10%;
    margin-top: 5em;
    text-align: right;
}

.img-arrondi {
    border-radius: 50%;
}

.margin-9em {
    margin-top: 9em;
}